.c-item {
    height: 480px;
  }
  
  .c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    background-color: rgba(0, 0, 0, 0.5); 
  } 

  /* ---------------------------Grid Photo Gallery-------------------------------------------- */

  .gallery-item {
    padding: 5px;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .gallery-item:hover img {
    transform: scale(1.1);
  }

  /* ---------------------------Testimonial Slider-------------------------------------------- */
  #testimonial{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;  

}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
    color: black;
}
.sub-title{
   font-size: 60px; 
   font-weight: 600;
   color:#fff;
}
  

  /* ---------------------------Moving Gallery-------------------------------------------- */

  .section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }
  
  .section__header {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: var(--text-dark);
    text-align: center;
    color: black;
  }

  .gallery__container {
    overflow: hidden;
  }
  
  .gallery__flex {
    margin-top: 2rem;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
  
    animation: scroll 45s linear infinite;
  }
  
  .gallery__flex img {
    max-width: 135px;
  }

  @keyframes scroll {
    to {
      transform: translateX(calc(-50% - 0.5rem));
    }
  }

  .copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    color: whitesmoke;
}

  